######################
# OSX
######################

# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes
.DS_Store
.svn
 
# Xcode
/build
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData 
*.class
 
# Package Files #
*.jar
*.war
*.ear
*.db

######################
# Windows
######################
 
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini

######################
# Eclipse
######################

*.iml
*.ipr
*.iws
*.orig
*.rej
**/.keep
*.sdf
*.suo
*.vcxproj.user
*.class
.idea
.svn
.classpath
.project
.settings
target
build
logs
*status.xml
zabbix

